@import './constraint';

.home-sidebar {
    position: sticky;
    top: 0px;
    width: 240px;
    margin: 40px 0 0;
    padding: 0 16px;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            background-color: transparent;
            color: $text-color;
            display: flex;
            align-items: center;
            padding: 6px 8px;
            border-radius: 4px;
            cursor: pointer;
            font-weight: bold;
            font-size: 16px;
            gap: 10px;

            &:hover {
                background-color: rgba(9, 30, 66, 0.08);
                color: #091e42;
            }
            
            &.is-active {
                background-color: #E4F0F6;
                color: #0079BF;

                &:hover {
                    background-color: #E4F0F6;
                }
            }

            &:not(:last-child) {
                margin-bottom: 4px;
            }
        }
    }
}