@import './constraint';

$column-header-height: 36px;
$column-footer-height: 36px;
$column-footer-max-height: 135px;

$column-height: calc(#{$height-boardcontent} - 50px);



.column {
    width: 300px;
    min-width: 300px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-height: $column-height;
    margin-right: 10px;

    > * {
      background-color: $column-bg-color;
      color: $column-color;
      padding: 0 8px;
    }

    header.column-drag-handle {
      padding: 5px 8px;
      cursor: pointer;
      height: $column-header-height;
      display: flex;
      align-items: center;
      color: $header-text-color;
      h2 {
        padding: 0;
        margin: 0;
        font-weight: 600;
        font-size: 16px;
      }
    }

    ul.card-list {
      list-style: none;
      padding: 0;
      margin: 0px;
      min-height: 0;
      overflow-y: auto;
      overflow-x: hidden;
      max-height: calc(#{$column-height} - #{$column-header-height} - #{$column-footer-height});

      &.colappse {
        max-height: calc(#{$column-height} - #{$column-header-height} - #{$column-footer-max-height});
      }
      .smooth-dnd-container {
        min-height: 0;
      }

      
      &::-webkit-scrollbar {
        -webkit-appearance: none;
      }

      &::-webkit-scrollbar:vertical  {
        width: 11px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: darken($column-bg-color, 15);
        border-right: 5px solid $column-bg-color;
      }

      .card-ghost {
        transition: transform 0.18s ease;
        transform: rotateZ(5deg)
      }
      
      .card-ghost-drop{
        transition: transform 0.18s ease-in-out;
        transform: rotateZ(0deg)
      }

      .card-drop-preview {
        background-color: rgba(150, 150, 200, 0.1);
        border: 1px dashed #abc;
        margin: 5px;
      }

    }

    footer {
      min-height: $column-footer-height; 
      color: $footer-text-color;
      padding-bottom: 8px;

      &.is-active {
        .footer-wrapper {
            display: none;
        }
        .add-new-card-form {
          display: block;
        }

        .add-new-card-control {
          display: flex;
          align-items: center;
        }
      }


      .footer-wrapper {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 6px 8px;
        border-radius: 5px;

        &:hover {
          background-color: $footer-bg-hover;
        }

        svg {
          font-size: 18px;
          margin: 0 5px;
        }
  
        span {
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          flex: 1;
        }

      }

      .add-new-card-form {
        display: none;
      }
      
      .add-new-card-control {
        display: none;
        gap: 8px;
        margin-top: 5px;
  
        .btn-add {
          padding: 4px 12px;
          height: 32px;
          border: none;
          outline: none;
          background-color: #0079bf;
          box-shadow: none;
          cursor: pointer;
          border-radius: 5px;
          font-size: 14px;
          line-height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            color: white;
          }
        }
  
        svg {
          font-size: 24px;
          color: #42526e;
          cursor: pointer;
        }
      }
     
    }
   

} 