
/** Screen */

$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-iphone-down: '(max-width: 375px)';


$navapp-bg-color: #0067a3;
$ul-scroll-thumb-bg-color: rgba(255,255,255,.24);
$board-bg-color: #0079bf;
$column-bg-color: #ebecf0;
$column-color: #333;
$header-text-color: #172b4d;
$footer-text-color: #172b4d;
$new-col-bg-tran: hsla(0, 0%, 100%, .24);
$new-col-bg-tran-hover: hsla(0, 0%, 100%, .34);
$footer-bg-hover: #091e4214;
$card-bg-hover: #f4f5f7;




$height-appbar: 5vh;
$height-boardbar: 6vh;
$height-boardcontent: 88vh;
