
/** Screen */

$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-iphone-down: '(max-width: 375px)';


$navapp-bg-color: #0067a3;
$ul-scroll-thumb-bg-color: rgba(255,255,255,.24);
$board-bg-color: #0079bf;
$column-bg-color: #ebecf0;
$column-color: #333;
$column-footer-color: #5e6c84;
